<!-- Modal -->
<div class="modal fade" id="modal_detail_show" tabindex="-1" role="dialog"
     aria-labelledby="example_modal_center_title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">이벤트 상세 보기</h5>
            </div>
            <div id="update_modal_body" class="modal-body">
                <div>
                    <h5 class="text-center" id="event_title"></h5>
                </div>
                <table class="table table-bordered table-striped table-sm" id="tblGrid">
                    <tbody>
                    <input type="hidden" id="event_id" class="text-center" readonly="true" value="0"/>
                    <tr>
                        <td>작성자</td>
                        <td id="event_author" class="text-center"></td>
                    </tr>
                    <tr>
                        <td>이벤트 종류</td>
                        <td id="event_category" class="text-center"></td>
                    </tr>
                    <tr>
                        <td>이벤트 시작 시간</td>
                        <td id="event_start_at" class="text-center"></td>
                    </tr>
                    <tr>
                        <td>이벤트 종료 시간</td>
                        <td id="event_end_at" class="text-center"></td>
                    </tr>
                    <tr>
                        <td>하루종일 이벤트</td>
                        <td id="event_is_allday_cell" class="text-center"></td>
                    </tr>
                    </tbody>
                </table>

                <div class="form-group">
                    <h4>이벤트 상세서술 </h4>
                    <div class="form-inputs" readonly="True" id="event_description"></div>
                </div>
            </div>
            <div class="modal-footer" id="update_or_delete_footer">
                <button type="button" id="event_update_btn" class="btn btn-primary">수정하기</button>
                <button type="button" id="event_delete_btn" class="btn btn-danger">삭제하기</button>
                <button type="button" id="event_exit_btn" class="btn btn-secondary">닫기</button>
            </div>
            <div class="modal-footer" id="submit_footer">
                <button type="submit" id="update_submit_button" class="btn btn-primary btn-submit">수정완료</button>
                <button type="button" id="update_cancel_button" class="btn btn-secondary">취소</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#event_update_btn").on("click", function (event) {
        const end_at = moment($("#event_end_at").text(), TIME_FORMAT_FOR_UI);
        const present_time = moment();
        if (end_at < present_time) {
            $('#fail_modal').modal('toggle');
        }
        else {
            $("#modal_title").text("이벤트 수정");
            toggleModalFooter(true);
            changeDetailToUpdateForm(event);
        }
    });
    $("#event_exit_btn").on("click", function () {
        location.reload();
    });

    $("#update_submit_button").on("click", function (event) {
        requestUpdateEvent(event);
    });
    $("#update_cancel_button").on("click", function (event) {
        remindCancel(event);
    });
</script>
